@charset "utf-8";
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
body {
  color: #000;
  font-size: 15px;
  font-family: "Nanum Gothic";
  background-color: #f0f0f0;
  overflow-x: hidden;
}
body > section {
  overflow-x: hidden;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul::after,
ol::after {
  content: "";
  display: block;
  clear: both;
}
li {
  float: left;
}

a {
  color: #222;
  text-decoration: none;
}

img {
  border: none;
  vertical-align: bottom;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
